@using Ab4d.SharpEngine.Samples.Common
@inject HttpClient Http


<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Ab4d.SharpEngine</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="quickStart">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Quick Start
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="manualInitialization">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Manual Initialization
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="objStlFileViewer">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> OBJ & STL file viewer
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="uiProviderDemo">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> UIProviderDemo
            </NavLink>
        </div>
        
        @foreach (var group in Groups)
        {
            <div class="nav-item">

                <!-- Top-level collapsible item -->
                <a class="nav-link nav-item" @onclick="() => ToggleGroup(group)" href="@("/commonSamples/" + group.Location)">
                    <span class="bi @(IsOpen(group) ? "bi-minus-square-fill-nav-menu" : "bi-plus-square-fill-nav-menu")"></span>
                    @group.Title
                </a>

                @if (IsOpen(group))
                {
                    <div class="submenu ms-2">
                        @foreach (var item in group.Items)
                        {
                            @* <div class="submenu-item @(item.IsSeparator ? "submenu-separator" : "")"> *@
                            <a class="nav-link nav-item nav-submenu-link @(item.IsSeparator ? "nav-submenu-separator" : "")" href="@("/commonSamples/" + item.Location)">
                                @item.Title
                                @if (item.IsNew)
                                {
                                    <img src="images/new_icon.png" class="badge-icon" style="height: 0.8em; margin-left: 0.5em;" />
                                }
                                @if (item.IsUpdated)
                                {
                                    <img src="images/updated_icon.png" class="badge-icon" style="height: 0.8em; margin-left: 0.5em;" title="@item.UpdateInfo" />
                                }
                            </a>
                     @*        </div> *@
                        }
                    </div>
                }
            </div>
        }        

    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private bool isManualInitOpen = false;

    //private List<SamplesListReader.SampleGroup> Groups = SamplesListReader.LoadSampleGroups("Samples.xml");
    private List<SamplesXmlReader.SampleGroup> Groups = new();


    protected override async Task OnInitializedAsync()
    {
        string xmlContent = await Http.GetStringAsync("Samples.xml");

        var items = SamplesXmlReader.ParseXml(xmlContent);

        Groups = SamplesXmlReader.BuildGroups(items);
    }



    private void ToggleManualInit()
    {
        isManualInitOpen = !isManualInitOpen;
    }

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }


    private SamplesXmlReader.SampleGroup? openedGroup;

    private void ToggleGroup(SamplesXmlReader.SampleGroup group)
    {
        openedGroup = openedGroup == group ? null : group;
    }

    private bool IsOpen(SamplesXmlReader.SampleGroup group) => openedGroup == group;

    // public void GenerateSamplesMenuItems(List<SamplesListReader.SampleGroup> samplesGroups)
    // {
    //     Groups = samplesGroups;
    //     StateHasChanged(); // Forces UI refresh (this is required because this event is called outside of Blazor rendering)
    // }

}
